
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.outer-container {
  width: 80%;
  margin: 10px auto;
}

.completed {
  text-decoration: line-through;
}

.small-container {
  width: 20%;
  margin: auto;
}

#links { 
  li {
    a {
      &:hover {
        background-color: peru;
      }
    }
  }
}